.namaste {
    text-align: center;
    color: navy;
}

.text {
    text-align: left;
    color: red;
    font-style: italic;
    font-weight: bold;
}

.container {
    text-align: left;
    color: orange;
    background-color: aqua;
}
