.namaste {
    text-align: center;
    color: orange;
}

.namaste_jsx {
    text-align: center;
    color: red;
}

.imag_jsx {
    width: 800;
    height: 300;
}

.div {
    align-content: center;
    margin-left: 400;
}
